@model CoachFrika.Models.ContactUs
@{
    ViewData["Title"] = "Home Page";
}

<div>

    <!--header section start -->
    <div class="header_section">
        <div class="top_nav">
            <a href="index.html"><img src="images/logo.png" class="top_logo" alt=""></a>
            <div class="top_btn">
                <a class="top_link active" href="">Home</a>
                <a class="top_link" href="#about">About</a>
                <a class="top_link" href="#services">Services</a>
                <a class="top_link" href="#events">Events</a>
                <a class="top_link" href="#contact">ContactUs</a>

            </div>

        </div>


        <!--banner section start -->
        <div class="banner_section layout_padding">
            <div class="container-fluid">
                <section class="slide-wrapper">
                    <div class="container-fluid">

                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">

                            <div class="indic" style="margin-top:2rem">
                                <!-- Indicators -->
                                <ol class="carousel-indicators" style="mt-3">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
                                </ol>
                            </div>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="carousel-content">
                                        <div class="container">
                                            <div class="banner_main">
                                                <h2 class="banner_taital">COACHFRIKA </h2>
                                                <h3 class="banner_taital1"> Vision</h3>
                                                <p class="banner_text"> Empowering Educators, Transforming Futures</p>
                                                <div class="btn_main">
                                                    <div class="contact_bt active "><a href="#contact">Contact Us</a></div>
                                                    <button type="button" class="read_bt " data-toggle="modal" data-target="#VisionModal">
                                                        Read More ...
                                                    </button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-content">
                                        <div class="container">
                                            <div class="banner_main">
                                                <h2 class="banner_taital">COACHFRIKA </h2>
                                                <h3 class="banner_taital1"> Mission</h3>
                                                <p class="banner_text">
                                                    To hire enthusiastic educational coaches who will support African...
                                                </p>
                                                <div class="btn_main">
                                                    <div class="contact_bt active "><a href="#contact">Contact Us</a></div>
                                                    <button type="button" class=" read_bt" data-toggle="modal" data-target="#MissionModal">
                                                        Read More ...
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-content">
                                        <div class="container">
                                            <div class="banner_main">
                                                <h2 class="banner_taital">COACHFRIKA</h2>
                                                <h3 class="banner_taital1">Our Outcomes</h3>
                                                <p class="banner_text">
                                                    Our goal is to empower educators with innovative
                                                    teaching methodologies ....<br />
                                                </p>
                                                <div class="btn_main">
                                                    <div class="contact_bt active "><a href="#contact">Contact Us</a></div>

                                                    <button type="button" class="read_bt" data-toggle="modal" data-target="#OutcomesModal">
                                                        Read More ...
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </section>
            </div>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.carousel').carousel();
                });
            </script>
        </div>
        <!--banner section end -->
    </div>
    <!--header section end -->
    <!--about section start -->
    <div class="container layout_padding">
        <div class="c" id="about">
            <h1 class="about_taital">About Us</h1>
            <p class="about_text">
                Coachfrika is an innovative edtech social enterprise that provides personalized
                coaching support to teachers in public and private schools across Nigeria. .....
            </p>
            <div class="about_section_2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about_image"><img src="images/coachAbout.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about_taital_main">
                            <p class="about_text">
                                Coachfrika is an innovative edtech social enterprise that provides personalized
                                coaching support to teachers in public and private schools across Nigeria.
                            </p>
                            <p class="about_text">
                                Our mission is to bridge the education inequality gap by empowering teachers with the
                                skills and resources they need to become purposeful, effective, and efficient leaders in
                                their classrooms. Through our hybridized one-on-one coaching approach, we help
                                teachers develop better leadership, problem-solving, and communication skills,
                                ultimately improving the quality of lesson delivery and enhancing learning outcomes.
                                Our unique platform connects passionate educational and leadership coaches with
                                teachers, creating a dynamic ecosystem that fosters professional growth and
                                development.
                            </p>
                            <p class="about_text">
                                Our goal is to provide top-notch coaching to educators throughout Africa to help them
                                become purposeful, effective, and efficient teacher-leaders in their classrooms. We
                                believe that through our coaching, teachers will experience greater job satisfaction and
                                career fulfillment while accelerating their progress.
                                Our approach involves coaching, tracking and assessing growth, and seeking feedback
                                from stakeholders. We also believe that coaching can help teachers make wise
                                decisions about their future career paths and develop sustainable leaders who can
                                solve problem
                            </p>


                            @*
                            <button type="button" class="read_bt" style="float: right;" data-toggle="modal" data-target="#AboutModal">
                            Read More ...
                            </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about section end -->
    <br />
    <div class=" container layout_padding" style="font-size:18px">
        <h1 class="about_taital">Subscription</h1>
        <p class="about_text">
            Are you ready to take your teaching journey to new heights? Join Coachfrika's exclusive
            subscription mode and embark on a transformative experience that will empower you
            as an educator and leader. Our subscription is designed to provide you with ongoing
            support, professional development, and a thriving community of like-minded educators.
        </p>
        <br />
        <button type="button" class="read_bt" style="float: right;" data-toggle="modal" data-target="#subModal">
            Benefits ...
        </button>

        <br />
    </div>
    <div class="layout_padding" style="background-color:forestgreen; margin-top:20px; font-size:18px">
        <div class="container" id="services">
            <div style="font-size:36px; color:white"><h3>Subscription Plans:</h3></div>
            <div style="font-size:18px; color:white"> Choose from our range of subscription plans that best suit your needs:</div>
            <br />
            <div class="plans">

                <div class="testB">
                    <div class="plan_price">
                        @*$ 15*@
                        $
                        <div class="plan_price_text">per month</div>
                    </div>
                    <div class="planCard silver">
                        <div class="plan_pad plan_color ">
                            <h3 class="top_plan center">
                                <b> Silver Plan</b>
                            </h3>
                            <div class="plan_text">
                                ○ Access to coaching sessions
                            </div>
                            <div class="plan_text">
                                ○ Resource library
                            </div>
                            <div class="plan_text">
                                ○ Community support
                            </div>
                            <div class="plan_text">
                                ○ Certificate of participation
                            </div>

                        </div>
                    </div>
                    <button type="button" class="buy_bt " data-toggle="modal" style="float:right" data-target="#SubplanModal">
                        Apply...
                    </button>
                </div>
                <div class="testB">
                    <div class="plan_price">
                        $
                        @*$ 25*@
                        <div class="plan_price_text">per month</div>

                    </div>
                    <div class="planCard gold">
                        <div class="plan_pad ">
                            <h3 class="top_plan center">
                                <b> Gold Plan</b>
                            </h3>
                            <div class="plan_text">
                                ○ Access to coaching sessions
                            </div>  <div class="plan_text">
                                ○ Resource library
                            </div>  <div class="plan_text">
                                ○ Community support
                            </div>  <div class="plan_text">
                                ○ Certificate of participation
                            </div>
                            <div class="plan_text">
                                ○ Exclusive webinars and workshops
                            </div>
                        </div>

                    </div>
                    <button type="button" class="buy_bt " data-toggle="modal" style="float:right" data-target="#SubplanModal">
                        Apply...
                    </button>
                </div>
                <div class="testB">

                    <div class="plan_price ">
                        $
                        @*$ 30*@
                        <div class="plan_price_text">per month</div>
                    </div>
                    <div class="planCard plat">
                        <div class="plan_pad plan_color ">
                            <h3 class="top_plan center">
                                <b>Platinum Plan</b>
                            </h3>
                            <div class="plan_text">
                                ○ Access to coaching sessions
                            </div>  <div class="plan_text">
                                ○ Resource library
                            </div>  <div class="plan_text">
                                ○ Community support
                            </div>  <div class="plan_text">
                                ○ Certificate of participation
                            </div>  <div class="plan_text">
                                ○ Exclusive webinars and workshops
                            </div>  <div class="plan_text">
                                ○ Priority access to new resources
                            </div>  <div class="plan_text">
                                ○ Personalized coaching
                            </div>  <div class="plan_text">
                                ○ A month mentorship program
                            </div>
                        </div>
                        <br />
                    </div>
                    <button type="button" class="buy_bt " data-toggle="modal" data-target="#SubplanModal">
                        Apply...
                    </button>

                </div>
            </div>
            <div>
                <br />
                <br /> <p class="about_text" style="margin:20px 0px !important;  color:white">
                    Join Coachfrika's Subscription Today: Empower yourself with the tools, knowledge, and
                    support you need to excel as an educator. Elevate your teaching journey and make a
                    lasting impact on your students' lives. Subscribe to Coachfrika now and embark on a
                    path of continuous growth and success.
                </p>
            </div>
            <br />
            <br />

        </div>
    </div>


    <br />
    <!-- Event section start -->
    <div class="event layout_padding" id="events" >

        <h1 class="testimonial_taital">Our Event</h1>
        <br/>
        <br/>
        <div class="event_section container" >
            
            <div class="imgPart">
                <img src="~/images/partnericon.jpg" alt="partner" class="partnerImg" >
                <div class="middle">
                    <div class="partnerRead" data-toggle="modal" data-target="#PartnerModal" style="color:white">Read More</div>
                    
                </div>
            </div> 
            <div class="imgPart"> 
                <a href="https://bit.ly/ExcellentTeachersAward2023"> <img src="~/images/partner1.jpg" class=" partnerImg" /></a>
          
                  <div class="middle">
                      <div class="partnerRead"><a href="https://bit.ly/ExcellentTeachersAward2023" target="_blank" style="color:white">Click Here To apply</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event section end -->
    <!-- testimonial section start -->
    <div class="testimonial_section layout_padding">
        <div id="my_carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my_carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <h1 class="testimonial_taital">Testimonial</h1>
                <p class="testimonial_text">What people say about us</p>
                <div class="item active">
                    <div class="container">
                        <div class="testimonial_section_2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="testimonial_box">
                                        <div class="jonimo_taital_main">
                                            <h4 class="jonimo_text">Oladipupo David</h4>
                                            <div class="quick_icon"><img src="images/quick-icon.png" alt=""></div>
                                            <div class="quick_icon_1"><img src="images/quick-icon1.png" alt=""></div>
                                        </div>
                                        <p class="dummy_text">
                                            Coachfrika has had a profound impact on my personal
                                            and professional growth. I am grateful for his guidance, support,
                                            and the values he has instilled in me. I would highly recommend
                                            him to anyone looking for a mentor or coach who genuinely cares
                                            about their development and success.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="testimonial_box">
                                        <div class="jonimo_taital_main">
                                            <h4 class="jonimo_text">Friday Onoja</h4>
                                            <div class="quick_icon"><img src="images/quick-icon.png" alt=""></div>
                                            <div class="quick_icon_1"><img src="images/quick-icon1.png" alt=""></div>
                                        </div>
                                        <p class="dummy_text">
                                            I am excited to express my deep gratitude to a
                                            remarkable coach, Afeez Iyiola. His coaching has been instrumental
                                            throughout my fellowship journey, and it has helped me discover the
                                            power of self-confidence and belief in oneself to achieve success.
                                            I would highly recommend him to anyone looking for a mentor
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="testimonial_section_2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="testimonial_box">
                                        <div class="jonimo_taital_main">
                                            <h4 class="jonimo_text">Esther Soyinka</h4>
                                            <div class="quick_icon"><img src="images/quick-icon.png" alt=""></div>
                                            <div class="quick_icon_1"><img src="images/quick-icon1.png" alt=""></div>
                                        </div>
                                        <p class="dummy_text">
                                            Prior to when he started coaching me, I was
                                            in between timid and outspoken but on having him as my coach,
                                            he helped me gain increased self awareness, I was able to
                                            discover my strength and weakness. This self awareness has
                                            improved my decision making and led to my professional and personal growth.
                                            Coach Afeez ensured that I set SMART goals at the beginning
                                            of every quarter and create clear plan to achieving them, this
                                            helped me to be focus and stay motivated.

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="testimonial_box">
                                        <div class="jonimo_taital_main">
                                            <h4 class="jonimo_text">Michael Odebode</h4>
                                            <div class="quick_icon"><img src="images/quick-icon.png" alt=""></div>
                                            <div class="quick_icon_1"><img src="images/quick-icon1.png" alt=""></div>
                                        </div>
                                        <p class="dummy_text">
                                            As a passionate teacher, my initial challenge was to improve my pupils'
                                            literacy skills. I tried different methods, such as play-based learning,
                                            but only a few students showed interest. However, when my coach visited me on
                                            the first day, he gave me invaluable tips on creating a friendly learning environment
                                            to overcome the language barrier. From that day on,
                                            95% of my students were eager to learn.I would highly recommend
                                            him to anyone looking for a mentor or coach who genuinely cares
                                            about their development and success.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.carousel').carousel();
            });
        </script>
    </div>
    <!-- testimonial section end -->
    <!-- contact section start -->
    <div class="contact_section contact_main">
        <div class="container" id="contact">
            <h1 class="contact_taital">Get In Touch</h1>
            <div class="contact_section_2 ">
                <div class="row">
                    <div class="col-md-6 ">
                        <p class="contact_text"> Reach out to CoachFrika today... </p>
                        <div class="">
                            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div>
                                    <div class="form-group" style="background-color: white">
                                        <div class="mail_text">
                                            @Html.TextBoxFor(model => model.FullName, new { placeholder = "Full Name",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mail_text">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mail_text">
                                            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mail_text">
                                            @Html.TextAreaFor(m => m.Message,new { placeholder = "Message",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="sss" style="width: 100%; margin: 20px; float:right">
                                        <input type="submit" value="Send" style="width: 200px; margin: 20px; height: 50px; background-color:forestgreen; color: white" />
                                    </div>
                                </div>

                                // form is postback to /Home/Enroll
                            }

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="contactme" style="margin-top:-20px">
                            <!-- <div class="map-responsive">
                               <iframe src="https://maps.google.com/maps?q=abeokuta&t=k&z=17&ie=UTF8&iwloc=&output=embed" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                            </div> -->
                            <img src="images/contactus.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- contact section end -->
    <!-- footer section start -->
    <div class="footer_section  ">

        <ul>
            <li><a href="https://whatsapp.com/channel/0029Va9cu0FEwEjyOe7dtn3D" target="_blank"><img src="~/images/whatsapp.png" /></a></li>
            <li><a href="https://twitter.com/coachfrika?t=ycoE-JSOwhOo7tjyxusbyw&s=09" target="_blank"><img src="~/images/twitt.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/company/coachfrika/" target="_blank"><img src="images/linkedin-icon.png" alt=""></a></li>
            <li><a href="https://instagram.com/coachfrika?utm_source=qr&igshid=MThlNWY1MzQwNA==" target="_blank"><img src="images/instagram-icon.png" alt=""></a></li>
        </ul>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text" style="font-size: 18px">Copyright 2023 All Rights Reserved <i>hmsSolution </i></p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Modal -->
    <div class="modal fade" background-color:blue" id="SubplanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-md-12 ">

                        <p class="contact_text center"> Kindly filling correct informations </p>
                        <div class="">
                            @using (Html.BeginForm("RequestPlan", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group" style="background-color: white">
                                    <div class="mail_text">
                                        @Html.TextBoxFor(model => model.FullName, new { placeholder = "Full Name",@class="form-control" })
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mail_text">
                                        @Html.TextBoxFor(model => model.SchoolName, new { placeholder = "Current School Name",@class="form-control" })
                                        @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mail_text">
                                        @Html.TextBoxFor(model => model.SchoolAddress, new { placeholder = "School Location (City/Town, State)",@class="form-control" })
                                        @Html.ValidationMessageFor(model => model.SchoolAddress, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mail_text formrow" style="margin-top:-5px">
                                        <div class="mail_text">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Contact Number",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mail_text">
                                            @Html.TextBoxFor(model => model.Email, new { placeholder = "Contact Email",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="mail_text formrow" style="margin-top:-10px">
                                        <div class="mail_text">
                                            @Html.TextBoxFor(model => model.YearsOfExperience, new { placeholder = "Years of Teaching Experience",@class="form-control" })
                                            @Html.ValidationMessageFor(model => model.YearsOfExperience, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mail_text">
                                            @Html.DropDownListFor(m => m.Plan, new SelectList(Enum.GetValues(typeof(CoachFrika.Enums.Plans))),"Select Plan", new { @class = "form-control" ,style= "height: 32px"})


                                        </div>
                                    </div>

                                    <div class="mail_text formrow" style="margin-top:-10px">
                                        <div class="mail_text">
                                            @Html.DropDownListFor(m => m.AreaofInterest, new SelectList(Enum.GetValues(typeof(CoachFrika.Enums.AreaofInterest))), "Choose Your Area of Interest", new { @class = "form-control",style= "height: 32px" })
                                        </div>

                                        <div class="mail_text">
                                            @Html.DropDownListFor(m => m.Referral, new SelectList(Enum.GetValues(typeof(CoachFrika.Enums.Referral))),"How did you hear about Us?", new { @class = "form-control",style= "height: 32px" })
                                        </div>
                                    </div>
                                    <div class="mail_text">
                                        @Html.TextAreaFor(m => m.WhyInterested,new { placeholder = "Why are you interested in this program?",@class="form-control" })
                                        @Html.ValidationMessageFor(model => model.WhyInterested, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="sss" style="width: 100%; margin: 20px; ">
                                    <input type="submit" value="Send" style="width: 200px;float:right; margin: 20px; height: 50px; background-color:forestgreen; color: white" />
                                </div>

                                // form is postback to /Home/Enroll
                            }

                        </div>



                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The End Modal -->
    <!-- Modal -->
    <div class="modal fade" id="VisionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Vision</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b> Scope</b>
                    <p>
                        Empowering Educators and Transforming the Futures
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The End Modal -->
    <!-- Modal -->
    <div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="text-align: justify">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>CoachFrika</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>Subscription Benefits:</b>
                    </p>
                    <p>
                        ● Personalized Coaching: Receive regular one-on-one coaching sessions tailored to
                        your unique teaching style, goals, and challenges. Our experienced coaches are
                        here to guide you every step of the way.
                    </p>
                    <p>
                        ● Continuous Growth: Access a wealth of resources, webinars, and workshops that
                        will enhance your teaching practices, leadership skills, and overall professional
                        growth. Stay updated with the latest trends in education.
                    </p>
                    <p>
                        ● Engaging Content: Enjoy exclusive access to our library of engaging and
                        interactive teaching materials, lesson plans, and activities that will captivate your
                        students and make learning a joyous experience.
                    </p>
                    <p>
                        ● Community Support: Connect with a vibrant community of fellow educators who
                        are passionate about making a difference. Share insights, exchange ideas, and
                        collaborate to create impactful learning environments.

                    </p>
                    <p>
                        ● Leadership Development: Develop strong leadership qualities that extend beyond
                        the classroom. Coachfrika's subscription will empower you to drive positive
                        changes within your school and community.


                    </p>
                    <p>
                        ● Flexible Learning: Our subscription model offers flexibility, allowing you to learn
                        at your own pace and convenience. Whether you're a full-time teacher or have
                        other commitments, you can access our resources whenever it suits you.

                    </p>
                    <p>
                        Career Advancement: Elevate your career prospects by honing your teaching
                        skills, leadership abilities, and innovative pedagogies. Become a sought-after
                        educator and make a lasting impact on your students' lives.

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The End Modal -->
    <!-- Modal -->
    <div class="modal fade" id="MissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: justify">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b>Mission</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>
                        Coachfrika is committed to equipping educators with the tools, skills, and
                        mindset necessary to become effective leaders in their classrooms and communities.
                        Through personalized coaching and professional development, we strive to enhance
                        teaching practices, foster leadership qualities, and improve learning outcomes,
                        ultimately creating a positive ripple effect throughout the education system.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The End Modal -->
    <!-- Modal -->
    <div class="modal fade" id="OutcomesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: justify">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Our Outcomes</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>Our Outcomes</b>
                    <p>
                        ● Elevated Teaching Excellence: Our goal is to empower educators with innovative
                        teaching methodologies, enhancing their ability to engage students and deliver
                        impactful lessons that promote deeper understanding and critical thinking.
                    </p>
                    <p>
                        ● Cultivated Leadership: Coachfrika aims to nurture leadership qualities among
                        educators, enabling them to take charge of their professional growth, drive
                        positive changes within their schools, and inspire their students to become
                        leaders.
                    </p>
                    <p>
                        ● Enhanced Student Learning: By providing teachers with the tools to create
                        dynamic learning environments, we aspire to elevate student learning outcomes,
                        ensuring that every student has the opportunity to reach their full potential.
                    </p>
                    <p>
                        ● Education Equity: Through our focus on low-income communities, we seek to
                        bridge the gap in access to quality professional development, contributing to a
                        more equitable education system where all educators have the opportunity to
                        thrive.
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The End Modal -->
          <!-- Modal -->
    <div class="modal fade" id="PartnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: justify">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b>EXCITING PARTNERSHIP ALERT</b>
                    </h5>
                </div>
                <div class="modal-body">
                    
                        <b class="center" >A GIANT LEAP FORWARD</b>
                    <br />
                    <br />
                    <p>
                       The last week of August, 2023, was an exhilarating one, as Coachfrika took a monumental stride
                       by sealing partnership deals with both the Ogun-State Universal Basic Education Board (Ogun-SUBEB) 
                       and 1 Million Teachers Organization.

                    </p>
                    <p>
                        These partnerships are a game-changer, a catalyst for transforming the basic educational system.

                        We are not just making history; we are shaping the future of education across Nigeria and Africa.

                      </p>
                      <p>At Coachfrika, education is our heartbeat, and this collaboration is a testament to our unwavering commitment.

                        Join us on this epic journey as we rewrite the narrative of education, not just in Nigeria but across Africa, in shimmering gold.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The End Modal -->
</div>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="@Url.Content("~/js/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="~/js/jquery.validate.min.js"></script>